@import "tailwindcss";

body {
  font-family: Outfit;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --font-family-outfit: Outfit, sans-serif !important;
  --font-family-ovo: Ovo, serif !important;
  --shadow-dark: 4px 4px 0 #000;
  --shadow-light: 4px 4px 0 #fff;
  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr))

  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: white;
  color: black;
}

[data-theme="dark"] body {
  background-color: #11001f;
  color: #fff;
}
